[submodule "frontend"]
	path = frontend
	url = https://github.com/jaypz21/pichel-hr-system-payroll.git
[submodule "server"]
	path = server
	url = https://github.com/jaypz21/pichel-hr-system-server.git
